<% content_for :title, "ユーザー編集" %>
<h1 class="h3 mb-3">ユーザー編集（ID: <%= @user.id %>）</h1>

<%= form_with model: [:admin, @user], local: true do |f| %>
  <%= render partial: "form", locals: { form: f } %>
<% end %>
